@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin-top: 80px;
    background-image: url(/img/onibus.png);
    background-position: center;
    background-size: cover;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-nav {
    width: auto;
}

#conteiner-btn-saiba-mais {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    border-radius: 10px;
    margin: 0px 15%;
}

#introducao {
    margin: 80px 15%;
    padding-right: 30%;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

footer{
    display: flex;
    color: #061761;
    background-color: white;
    bottom: 0;
}

.texto-footer{
    display: flex;
}
  