@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px 15%;
    margin-top: 80px;
    background-image: url(/img/onibus.png);
    background-position: center;
    background-size: cover;
}

.navbar-brand {
    margin-left: 50px;
}

#navbarNav {
    justify-content: center;
    
}

.navbar-nav {
    width: auto;
}

/* .nav-item {
    margin: 0px 50px;
} */

#conteiner-btn-saiba-mais {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    border-radius: 10px;
}

#introducao {
    margin: 80px 0px;
    padding-right: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}